<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factory Guard AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_text.css') }}">
</head>

<body>
    <div class="main">
        <h1 class="head">Machine Failure Prediction</h1>

        <form action="/predict" method="POST" enctype="multipart/form-data">

            <!-- Left decorative image -->
            <img class="img1" src="{{ url_for('static', filename='factoryguard_ai_image.png') }}" alt="Factory AI">

            <!-- Centre control panel -->
            <div class="container">

                <div class="sub1">
                    <p class="fil_line"><b>Upload JSON Sensor Input File</b></p>
                    <input class="fil" type="file" id="jsonFile" name="file" accept=".json" required>
                </div>

                <div class="btn">
                    <button type="submit">Predict</button>
                </div>

                <div class="sub2">
                    <h3>Result</h3>
                    <p><b>Failure Probability:</b> {{ failure_probability }}</p>
                    <p><b>Latency ms:</b> {{ latency_ms }}</p>
                </div>

                <div class="sub3">
                    <h1>{{ result }}</h1>
                </div>

            </div>

            <!-- Right decorative image -->
            <img class="img2" src="{{ url_for('static', filename='Factory-guard-AI-img.jpg') }}" alt="Factory Guard">

        </form>
    </div>
</body>

</html>
